matplotlib
numpy
pandas
scipy
tensorflow[and-cuda]==2.15.1 # python==3.11
# tensorflow-gpu==2.1.0  # For GPU acceleration
# GPU dependencies (optional, for environments with GPU support)
# cuda==10.1
# cudnn==7.6.5
ipykernel
openpyxl
